@import '~app-styles/colors';
@import '~app-styles/mixins';

.statusBarContainer {
  text-align: center;
}

.floatStatus {
  position: relative;
  display: inline-block;
  box-shadow: 0 4px 5px rgba(0,0,0,.16);
  border-radius: 5px;
  padding: 0 100px 0 20px;
}

.score {
  font-size: 40px;
  right: 20px;
  top: 10%;
  position: absolute;
}

.winIcon {
  position: absolute;
  right: 5px;
  top: -10px;
  color: $pink;
}
